<h1>Grandmas#index</h1>
<p>Find me in app/views/grandmas/index.html.erb</p>
<% @grandmas.each do |grandma| %>
<%= link_to grandma,grandma_path(grandma) %>
<%= link_to "Delete Grandma",grandma_path(grandma), method: :delete %>
<% end %>
