// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "login";
@import "booking";
@import "grandma";

html, body {
  height: 100%;
  margin: 0;
  // background-color: $light-gray;
  background-color: $dark-blue;
  h1 {
    // color: $dark-blue;
    color: white;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
  }
  h2{
    color: white;
  }
  p {
    color: #393e46;
  }
}
.container {
  padding: 20px;
  min-height: calc(100vh - 200px);
  h2 {
    font-size: 24px;
    color: white;
  }
}


.centered {
  text-align:center;
}


