// Import page-specific CSS files here.
@import "home";

html, body {
  height: 100%;
  margin: 0;
}
.container {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.wrapper {
  height: calc(100vh - 100px - 72px);
}
