<div class="login_container">
  <h2 class="centered">FORGOT SOMETHING?</h2>
  <p> If you are not a grandmother you have no excuse, but we can still help!</p>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Reset password", class: "btn-grad-full-width" %>
    </div>
  <% end %>
</div>

