<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/baddiewinkle/?hl=en" target="_blank"><i class="fab fa-instagram" ></i></a>
    <a href="https://www.facebook.com/HappyGrandmaClub/?ref=br_rs" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    We all need a Grandma <i class="fas fa-heart"></i>
  </div>
</div>
