
<div class="banner" style="background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1505685679686-2490cab6217d%3Fixlib%3Drb-1.2.1%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax%26ixid%3DeyJhcHBfaWQiOjEyMDd9);">
  <div class="container">
    <h1>Find your grandmother!</h1>
    <p>Have a bad day? Book a grandmother</p>
    <a class="btn btn-flat" href="/grandmas">Book now</a>
  </div>
</div>
