.banner {
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 72px);
  padding: 10vh;
}

.banner h1 {
  margin: 0px;
  margin-bottom: 20px;
  color: #182952;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #182952;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  background-color: #2b3595;
  color: white;
}

.btn-flat:hover {
  background-color: #2b3595;
  color: black;
}


.profile-banner {
  background-position: center;
  padding-top: 32px;
  background-color: #f4f4f4;
  // background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%232b3595' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-image: url("https://s3.amazonaws.com/bandw-gallery/large/527/Cuban_Grandma.jpg?1418427111");
  background-repeat: no-repeat;
  margin-bottom:  32px;
  max-height: 500px;
  background-size:cover;
}

.profile-banner h1 {
  margin: 0px;
  margin-bottom: 20px;
  color: #182952;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
  color: white ;

}
