.card-grandmother {
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: 16px;
  width: 100%;
}

.grandma-pic {
  height: 350px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.card-grandmother h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #182952 !important;
}

.card-grandmother p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.cards a {
  color: black;
}

.card-grandmother .card-grandmother-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-grandmother-infos .card-grandmother-user {
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-gap: 10px;
  margin: 8px auto;
  justify-items: center;
}

.grandma-edit {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 260px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 260px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 260px 260px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 260px 260px 260px 260px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 260px 260px 260px 260px;
  }
}
