.mapboxgl-popup {
  max-width: 200px;
  border-radius: 20%;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: #ebfffb;
}

.mapboxgl-popup-content h2 {
  color: #000000 !important;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}
