.navbar-lewagon {
  justify-content: space-between;
  background: white;
  h1 {
  color:$violet;
  font-size: 32px;
  font-family:'Pacifico', cursive;;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.active {
  color:$pink;
}
